<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>

        <testsuite name="Linting Tests">
            <directory suffix="Test.php">tests/Linting</directory>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
